$yellow: #d1ac00;
$red: #4f000b;
$white: #EDF2F4;
$gray: #8D99AE;
$black: #2B2D42;
$blue: #0e4758;

:root {
    user-select: none;

    --sliderWidth: 90px;


}

@font-face {
    font-family: 'ProximaNovaRgRegular';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/proxima_nova_reg-webfont.eot');
    src: url('../fonts/proxima_nova_reg-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/proxima_nova_reg-webfont.woff') format('woff'),
        url('../fonts/proxima_nova_reg-webfont.ttf') format('truetype'),
        url('../fonts/proxima_nova_reg-webfont.svg#ProximaNovaRgRegular') format('svg');
}


.main {
    position: relative;
    z-index: 1;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

html,
button,
input,
select,
textarea {
    font-family: 'ProximaNovaRgRegular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4c4c4c;
}

body {
    margin: 0;

    font-size: 1em;
    line-height: 1.4;

    background-color: $blue;
}

.main {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cable {
    width: 350px;
    height: 350px;

    position: absolute;
    z-index: -1;

    top: 60px;
    left: 50%;
    transform: translate(-50%, 0);

    filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, .2));

    @media only screen and (max-width: 1000px) {
        display: none;
    }
}

* {
    box-sizing: border-box;
}