.module {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  border: 1px solid #d1ac00;
  border-radius: 10px;
  background-color: #edf2f4;
  overflow: hidden;
  -webkit-filter: drop-shadow(10px 10px 1px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(10px 10px 1px rgba(0, 0, 0, 0.2));
}

.module .left-and-front-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.module.question::after {
  content: '?';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 1000;
  top: 35px;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  font-size: 160px;
  color: #0e4758;
}

.module.question .content {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.module.question .content .slider input[type="range"]::-webkit-slider-thumb {
  display: none;
}

.module .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 1px solid #d1ac00;
  background-color: #4f000b;
}

.module .head .title-wrapper {
  width: 100%;
}

.module .head .title-wrapper .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 1px;
  font-family: "Yellowtail", cursive;
  font-size: 20px;
  color: #d1ac00;
}

.module .content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 30px;
  padding: 10px;
  position: relative;
}

.module .content .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 30px;
}

.module .content .options select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-width: 100px;
  font-size: .625em;
  white-space: pre;
  border: none;
  outline: none;
  background: url("../img/arrow_down.svg") 95% 50% no-repeat;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
}

.module .content .controllers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.module .content .controllers .switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-left: 3px;
  font-size: .625em;
  text-transform: uppercase;
}

.module .content .controllers .switch.horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.module .content .controllers .switch span {
  margin-bottom: 7px;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  color: #0e4758;
}

.module .content .controllers .switch button {
  width: 45px;
  height: 40px;
  background-image: url("../img/switch_off.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: background-image .1s;
  -webkit-transition: background-image .1s;
  -moz-transition: background-image .1s;
  -o-transition: background-image .1s;
}

.module .content .controllers .switch button.switch-on {
  background-image: url("../img/switch_on.svg");
}

.module .content .controllers .switch button.right {
  background-image: url("../img/switch_right.svg");
}

.module .content .controllers .switch button.left {
  background-image: url("../img/switch_left.svg");
}

.module .content .controllers .sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.module .content .controllers .sliders .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
}

.module .content .controllers .sliders .slider .slider-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* padding-bottom: .4em; */
  position: relative;
  margin-bottom: 1em;
  font-size: .625em;
}

.module .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  position: relative;
  margin-top: 10px;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
}

.module .label .label-span {
  width: 100%;
  font-size: 10px;
  text-align: center;
  color: #0e4758;
}

.module .content .controllers .sliders .slider .slider-info .value-unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 59px;
  color: #0e4758;
}

.module .content .controllers .sliders .slider .slider-info .value-unit > .value {
  color: #8d99ae;
}

.module .content .controllers .sliders .slider .slider-info .value-unit .value {
  display: block;
  margin: 0 2px 0 0;
  font-weight: 700;
  text-align: center;
}

.module .content .controllers .sliders .slider .input-wrapper {
  height: var(--sliderWidth);
  position: relative;
}

.module .content .controllers .sliders .slider .input-wrapper input[type="range"] {
  width: var(--sliderWidth);
  height: 1px;
  position: absolute;
  right: -1px;
  bottom: 0;
  transform: rotate(270deg) translate(50%, calc(var(--sliderWidth) / 2));
  outline: none;
  background: #8d99ae;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-transform: rotate(270deg) translate(50%, calc(var(--sliderWidth) / 2));
  -moz-transform: rotate(270deg) translate(50%, calc(var(--sliderWidth) / 2));
  -ms-transform: rotate(270deg) translate(50%, calc(var(--sliderWidth) / 2));
  -o-transform: rotate(270deg) translate(50%, calc(var(--sliderWidth) / 2));
}

.module .slider input[type="range"]::-webkit-slider-thumb {
  width: 20px;
  height: 10px;
  position: relative;
  z-index: 1;
  top: 0;
  border-radius: 2px;
  background-color: #d1ac00;
  cursor: pointer;
  -webkit-appearance: none;
}

.module .slider input[type="range"]::-moz-range-thumb {
  width: 32px;
  height: 32px;
  position: relative;
  z-index: 1;
  top: 0;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
}

.valueWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.valueWrapper .value {
  color: #0e4758;
}

.valueWrapper .positive {
  display: inline-block;
}

.valueWrapper span:not(.value):not(.positive) {
  display: none;
}
/*# sourceMappingURL=module.css.map */